In [15]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data.isnull().values.any())

False

In [10]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
check = data['Age'].mean()
print(data.mean())
print(check)

CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64
38.85

In [17]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data.mean())
print('Result Missing')
print(data.head())

print('Result non-Missing')
data=data.fillna(data.mean())
print(data.head())

CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64
Result Missing
   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
Result non-Missing
   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [23]:
import pandas as pd 

data = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/shopping_data_missingvalue.csv')
print(data.median())

data = data.fillna(data.median())
print(data.head())

print(data.head(10).values.any())

CustomerID                100.5
Age                        36.0
Annual Income (k$)         62.0
Spending Score (1-100)     50.0
dtype: float64
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male  36.0                15.0                    81.0
2           3  Female  20.0                62.0                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                    50.0

In [3]:
import pandas as pd 

data = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/shopping_data_missingvalue.csv')
print('data kotor')
print(data.head(10))

print('data bersih menggunakan median')
data = data.fillna(data.median())
print(data.head(10))


print('data bersih menggunakan mean')
data = data.fillna(data.mean())
print(data.head(10))
print(data.isnull().values.any())

data kotor
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male   NaN                15.0                    81.0
2           3  Female  20.0                 NaN                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                     NaN
5           6  Female  22.0                 NaN                    76.0
6           7  Female  35.0                18.0                     6.0
7           8  Female  23.0                18.0                    94.0
8           9    Male  64.0                19.0                     NaN
9          10  Female  30.0                19.0                    72.0
data bersih menggunakan median
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male  36.0                15.0                    81.0
2           3  Female  20.0                62.0                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                    50.0
5           6  Female  22.0                62.0                    76.0
6           7  Female  35.0                18.0                     6.0
7           8  Female  23.0                18.0                    94.0
8           9    Male  64.0                19.0                    50.0
9          10  Female  30.0                19.0                    72.0
data bersih menggunakan mean
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male  36.0                15.0                    81.0
2           3  Female  20.0                62.0                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                    50.0
5           6  Female  22.0                62.0                    76.0
6           7  Female  35.0                18.0                     6.0
7           8  Female  23.0                18.0                    94.0
8           9    Male  64.0                19.0                    50.0
9          10  Female  30.0                19.0                    72.0
False

In [14]:
import numpy as np 
import pandas as pd
from sklearn import preprocessing

data = pd.read_csv('../data/shopping_data.csv')
array = data.values

X = array[:,2:5]
Y = array[:,0:1]

dataset = pd.DataFrame({
    'Customer ID' : array[:,0],
    'Genre' : array[:,1],
    'Age'   : array[:,2],
    'Annual Income' : array[:,3],
    'Spending Score' : array[:,4]
})
print('data sebelum di normalisasi')
print(dataset.head(10))

#normalisasi
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,1))
data = min_max_scaler.fit_transform(X)
dataset = pd.DataFrame({
    'Age'   : data[:,0],
    'Annual Income' : data[:,1],
    'Spending Score' : data[:,2],
    'Customer ID' : array[:,0],
    'Genre' : array[:,1]
})
print('data sesudah di normalisasi')
print(dataset.head(10))

data sebelum di normalisasi
  Customer ID   Genre Age Annual Income Spending Score
0           1    Male  19            15             39
1           2    Male  21            15             81
2           3  Female  20            16              6
3           4  Female  23            16             77
4           5  Female  31            17             40
5           6  Female  22            17             76
6           7  Female  35            18              6
7           8  Female  23            18             94
8           9    Male  64            19              3
9          10  Female  30            19             72
data sesudah di normalisasi
        Age  Annual Income  Spending Score Customer ID   Genre
0  0.019231       0.000000        0.387755           1    Male
1  0.057692       0.000000        0.816327           2    Male
2  0.038462       0.008197        0.051020           3  Female
3  0.096154       0.008197        0.775510           4  Female
4  0.250000       0.016393        0.397959           5  Female
5  0.076923       0.016393        0.765306           6  Female
6  0.326923       0.024590        0.051020           7  Female
7  0.096154       0.024590        0.948980           8  Female
8  0.884615       0.032787        0.020408           9    Male
9  0.230769       0.032787        0.724490          10  Female