In [2]:
import pandas as pd


data = pd.read_csv('../data/shopping_data.csv')
print(data.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data.columns)

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [7]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data['Age'])

0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64

In [9]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data.iloc[124])

CustomerID                   125
Genre                     Female
Age                           23
Annual Income (k$)            70
Spending Score (1-100)        29
Name: 124, dtype: object

In [13]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data['Genre'].iloc[124])
print('Result')
print(data.head())

Female
Result
   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [14]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data['Age'].iloc[9:18])

9     30
10    67
11    35
12    58
13    24
14    37
15    22
16    35
17    20
Name: Age, dtype: int64