In [15]:
import pandas as pd


data = pd.read_csv('../data/shopping_data.csv')
print(data.head())
print(data.columns)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [4]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data.columns)

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [7]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data['Age'])

0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64

In [9]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data.iloc[124])

CustomerID                   125
Genre                     Female
Age                           23
Annual Income (k$)            70
Spending Score (1-100)        29
Name: 124, dtype: object

In [13]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data['Genre'].iloc[124])
print('Result')
print(data.head())

Female
Result
   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [14]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
print(data['Age'].iloc[9:18])

9     30
10    67
11    35
12    58
13    24
14    37
15    22
16    35
17    20
Name: Age, dtype: int64

In [25]:
import pandas as pd 

data = pd.read_csv('../data/shopping_data.csv')
# age = data['Age'].iloc[21]
# print(data.head())
print(data.describe(include='all'))
print(data.describe(exclude=['O']))

        CustomerID   Genre         Age  Annual Income (k$)  \
count   200.000000     200  200.000000          200.000000
unique         NaN       2         NaN                 NaN
top            NaN  Female         NaN                 NaN
freq           NaN     112         NaN                 NaN
mean    100.500000     NaN   38.850000           60.560000
std      57.879185     NaN   13.969007           26.264721
min       1.000000     NaN   18.000000           15.000000
25%      50.750000     NaN   28.750000           41.500000
50%     100.500000     NaN   36.000000           61.500000
75%     150.250000     NaN   49.000000           78.000000
max     200.000000     NaN   70.000000          137.000000

        Spending Score (1-100)
count               200.000000
unique                     NaN
top                        NaN
freq                       NaN
mean                 50.200000
std                  25.823522
min                   1.000000
25%                  34.750000
50%                  50.000000
75%                  73.000000
max                  99.000000
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000